.vp-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  background-color: #000;
}
.vp-container video {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.vp-controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: -1px;
  right: -1px;
  bottom: -1px;
  height: clamp(15rem, 12vw, 25rem);
  padding-bottom: 1rem;
  color: #fff;
  background-image: linear-gradient(transparent, #000);
  transition: all 300ms ease-out;
  z-index: 15;
}
.vp-controls.hide {
  opacity: 0;
  pointer-events: none;
}
.vp-controls__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: clamp(3rem, 100%, 5rem);
  margin-top: auto;
}
.vp-controls__body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.vp-controls__body__left,
.vp-controls__body__center,
.vp-controls__body__right {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.vp-controls__body__left > div,
.vp-controls__body__center > div,
.vp-controls__body__right > div {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 15rem;
}
.vp-controls__body__left > div {
  max-width: 100%;
}

.vp-controls__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(2.5rem, 3.5vw, 4.5rem);
  margin: auto;
  color: #fff;
  background-color: transparent;
  aspect-ratio: 1;
}
.vp-controls__btn svg {
  width: 100%;
  height: 100%;
  transition: transform 200ms;
}
.vp-controls__btn::before {
  content: attr(data-label);
  position: absolute;
  display: none;
  top: clamp(-6rem, -150%, -2rem);
  width: max-content;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: clamp(1.2rem, 2vw, 1.75rem);
  font-weight: 600;
  pointer-events: none;
  opacity: 0;
  transition: opacity 200ms ease-out;
}
.vp-controls__btn.label::before {
  display: block;
}
.vp-controls__btn:hover svg {
  transform: scale(1.3);
}
.vp-controls__btn:hover::before {
  opacity: 1;
}

.vp-controls__progress {
  position: relative;
  width: 100%;
  height: 100%;
}
.vp-controls__progress__range {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.vp-controls__progress__range--background {
  position: absolute;
  width: 100%;
  height: 10%;
  border-radius: 50px;
  background-color: #858585;
}
.vp-controls__progress__range--buffer {
  position: absolute;
  width: 100%;
  height: 10%;
  border-radius: 50px;
  background-color: #6b0400;
  transition: width 200ms ease-out;
}
.vp-controls__progress__range--current {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  border-radius: 50px;
  background-color: #cd131c;
}
.vp-controls__progress__range--current__thumb {
  position: absolute;
  right: 0;
  width: clamp(1.5rem, 3vw, 2.5rem);
  height: clamp(1.5rem, 3vw, 2.5rem);
  border-radius: 50px;
  background-color: #cd131c;
  transform: translateX(50%) scale(0);
  transition: transform 200ms ease-out;
}
.vp-controls__progress__range--seek {
  -webkit-appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 5;
}
.vp-controls__progress__range--seek::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  transform: scale(0);
}
.vp-controls__progress__range--seek::-moz-range-thumb {
  -moz-appearance: none;
  width: 1rem;
  height: 1rem;
  transform: scale(0);
}
.vp-controls__progress__range:hover
  .vp-controls__progress__range--current__thumb {
  transform: translateX(50%) scale(1);
}
.vp-controls__progress__tooltip {
  position: absolute;
  bottom: clamp(4rem, 5vw, 5rem);
  font-size: clamp(1.2rem, 1.5vw, 2rem);
  padding: 0.5rem 0.75rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  font-weight: 700;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  transition-property: opacity, visibility;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}
.vp-controls__progress:hover .vp-controls__progress__tooltip {
  opacity: 1;
  visibility: visible;
}

.vp-controls__time {
  padding: clamp(1.5rem, 2.5vw, 5rem);
  font-size: clamp(1.3rem, 1.5vw, 2.5rem);
  color: #fff;
  text-align: center;
}

.vp-controls__volume {
  position: relative;
  display: flex;
  align-items: center;
}
.vp-controls__volume:hover svg {
  transform: translateX(clamp(-7rem, -100%, -3rem)) scale(1.3) !important;
}
.vp-controls__volume:hover .vp-controls__volume__range {
  transform: scaleX(1);
}
.vp-controls__volume__range {
  position: relative;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  width: clamp(6rem, 40%, 10rem);
  height: clamp(6rem, 5vw, 10rem);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-out;
}
.vp-controls__volume__range--background {
  position: absolute;
  width: 100%;
  height: 10%;
  border-radius: 50px;
  background-color: #858585;
}
.vp-controls__volume__range--buffer {
  position: absolute;
  width: 100%;
  height: 10%;
  border-radius: 50px;
  background-color: #6b0400;
  transition: width 200ms ease-out;
}
.vp-controls__volume__range--current {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  border-radius: 50px;
  background-color: #fff;
}
.vp-controls__volume__range--current__thumb {
  position: absolute;
  right: 0;
  width: clamp(1.5rem, 3vw, 2.5rem);
  height: clamp(1.5rem, 3vw, 2.5rem);
  border-radius: 50px;
  background-color: #fff;
  transform: translateX(50%) scale(0);
  transition: transform 200ms ease-out;
}
.vp-controls__volume__range--seek {
  -webkit-appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 5;
}
.vp-controls__volume__range--seek::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  transform: scale(0);
}
.vp-controls__volume__range--seek::-moz-range-thumb {
  -moz-appearance: none;
  width: 1rem;
  height: 1rem;
  transform: scale(0);
}
.vp-controls__volume__range:hover .vp-controls__volume__range--current__thumb {
  transform: translateX(50%) scale(1);
}

.vp-controls__settings__dropdown {
  position: absolute;
  bottom: 100%;
  right: 0;
  width: clamp(25rem, 30%, 40rem);
  overflow: hidden;
  transition: opacity 200ms ease-out, height 300ms ease-out;
  background-color: rgba(0, 0, 0, 0.8);
}
.vp-controls__settings__dropdown__menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: transform 300ms ease;
}
.vp-controls__settings__dropdown__list {
  overflow: auto;
}
.vp-controls__settings__dropdown__label,
.vp-controls__settings__dropdown__item {
  display: flex;
  align-items: center;
  padding: clamp(1rem, 1vw, 2rem) clamp(2rem, 2vw, 4rem);
  gap: 1rem;
  cursor: pointer;
  transition: background-color 200ms;
}
.vp-controls__settings__dropdown__label:hover,
.vp-controls__settings__dropdown__item:hover {
  background-color: rgba(51, 51, 51, 0.8);
}
.vp-controls__settings__dropdown__label {
  font-weight: 600;
}
.vp-controls__settings__dropdown__item.active::after {
  content: '';
  display: flex;
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  border-radius: 50px;
  background-color: #fff;
}

.vp-key-action {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.vp-key-action__volume {
  position: absolute;
  display: flex;
  top: -1px;
  bottom: 75%;
  left: -1px;
  right: -1px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
  transition: opacity 300ms ease-out;
  z-index: 15;
  /* CSS Transition */
}
.vp-key-action__volume__container {
  display: flex;
  margin: auto;
  gap: 1rem;
  width: clamp(12rem, 25%, 25rem);
  height: auto;
  transition: all 300ms ease-out;
}
.vp-key-action__volume__icon {
  position: relative;
  width: 40%;
  height: auto;
}
.vp-key-action__volume__icon svg {
  width: 100%;
  height: 100%;
}
.vp-key-action__volume__range {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  margin: auto;
}
.vp-key-action__volume__range--background {
  position: absolute;
  width: 100%;
  height: 10%;
  border-radius: 50px;
  background-color: #858585;
}
.vp-key-action__volume__range--buffer {
  position: absolute;
  width: 100%;
  height: 10%;
  border-radius: 50px;
  background-color: #6b0400;
  transition: width 200ms ease-out;
}
.vp-key-action__volume__range--current {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  border-radius: 50px;
  background-color: #fff;
}
.vp-key-action__volume__range--current__thumb {
  position: absolute;
  right: 0;
  width: clamp(1.5rem, 3vw, 2.5rem);
  height: clamp(1.5rem, 3vw, 2.5rem);
  border-radius: 50px;
  background-color: #fff;
  transform: translateX(50%) scale(0);
  transition: transform 200ms ease-out;
}
.vp-key-action__volume__range--seek {
  -webkit-appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 5;
}
.vp-key-action__volume__range--seek::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  transform: scale(0);
}
.vp-key-action__volume__range--seek::-moz-range-thumb {
  -moz-appearance: none;
  width: 1rem;
  height: 1rem;
  transform: scale(0);
}
.vp-key-action__volume__range:hover
  .vp-key-action__volume__range--current__thumb {
  transform: translateX(50%) scale(1);
}
.vp-key-action__volume__range--background,
.vp-key-action__volume__range--current {
  height: 20%;
  transition: width 200ms ease-out;
}
.vp-key-action__volume-enter {
  opacity: 0;
}
.vp-key-action__volume-enter > div {
  opacity: 0;
  transform: translateY(-100%);
}
.vp-key-action__volume-enter-active {
  opacity: 1;
}
.vp-key-action__volume-enter-active > div {
  opacity: 1;
  transform: translateY(0);
}
.vp-key-action__volume-exit {
  opacity: 1;
}
.vp-key-action__volume-exit > div {
  opacity: 1;
  transform: translateY(0);
}
.vp-key-action__volume-exit-active {
  opacity: 0;
}
.vp-key-action__volume-exit-active > div {
  opacity: 0;
  transform: translateY(-100%);
}
.vp-key-action__progress {
  position: absolute;
  display: flex;
  top: -1px;
  bottom: -1px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: 20;
}
.vp-key-action__progress__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.vp-key-action__progress.rewind {
  left: -1px;
  right: 50%;
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.7));
}
.vp-key-action__progress.skip {
  left: 50%;
  right: -1px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.7));
}
.vp-key-action__progress svg {
  width: clamp(5rem, 20%, 10rem);
  height: 100%;
  margin: auto;
}
.vp-key-action__progress span {
  font-size: clamp(1.3rem, 2vw, 1.7rem);
}

.vp-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
}
.vp-loader div {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 2px 2px 0 0 #cd131c;
  transform-origin: 2rem;
  animation: vp-loader 1s linear infinite;
}

.vp-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2rem;
  color: var(--text-invalid);
  background-color: #000;
}
.vp-error svg {
  width: 5rem;
  height: 5rem;
}

/* CSS Transition */

.vp-loader-enter {
  opacity: 0;
}
.vp-loader-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-out;
}
.vp-loader-exit {
  opacity: 1;
}
.vp-loader-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
.vp-dropdown-enter {
  opacity: 0;
}
.vp-dropdown-enter-active {
  opacity: 1;
}
.vp-dropdown-exit-active {
  opacity: 0;
}
.menu-index-enter {
  transform: translateX(-110%);
}
.menu-index-enter-active {
  transform: translateX(0%);
}
.menu-index-exit-active {
  transform: translateX(-110%);
}
.menu-main-enter {
  transform: translateX(110%);
}
.menu-main-enter-active {
  transform: translateX(0%);
}
.menu-main-exit-active {
  transform: translateX(110%);
}

@keyframes vp-loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
